@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: "Electrolize", serif;
  overflow: hidden;
}
